body{
	background-image: url(../img/back6.jpg);
}

.logo{
	float: left;
	width:700;
 	height:450;
	margin-left: 15px;
	
	
}
.map{
	margin-left: 100px;
	
	
}
.infoclass{
	width: 600px;
	height: 170px;
	margin-left: 15px;
	margin-top: 10px;
	
	float: left;
}
.contactclass{
	width: 300px;
	
	float: right;
	margin-top: 10px;
	margin-right: 450px;
	
}
.info{
	font-family: Comic;
    font-size: 15px;
    font-weight: bold;
    color: #F8F8FF;
	
}
.contactclass ul {
	list-style-type: none;
	
}
.contactclass ul li a {
	font-family: Comic ;
    font-size: 15px;
    font-weight: bold;
    color: #F8F8FF;
	
}
.contactclass ul li p {
	font-family: Comic;
    font-size: 15px;
    font-weight: bold;
    color: #F8F8FF;
	
}
.phone{
	font-family: Comic;
    font-size: 20px;
    font-weight: bold;
	text-decoration: none;
}





